/*----------------------------------------------------------------------------------------------------------------------
[Table of contents]
1. Root Elements & Measurements
2. Global Elements
3. Logo
4. Navbar
5. Jumbotron
6. Buttons

----------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------
1. Root Elements & Measurements
-------------------------------------------*/
:root {
  --red: #910012;
  --redHover: #a61527;
  --white: #ffffff;
  --gray: #555555;
  --lightGray:rgba(255,255,255,.55);
}
.redText {
  color: var(--red);
}
.redBackground {
  background-color: var(--red);
}
.mt-100 {
  margin-top:100px;
}
.mt-50 {
  margin-top:50px;
}

/*-------------------------------------------
2. Global Elements
-------------------------------------------*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
.capesCard {
  border: 0 !important;
}

/*-------------------------------------------
3. Logo
-------------------------------------------*/
.logoWhite {
  height:60px;
}

/*-------------------------------------------
4. Navbar
-------------------------------------------*/
.capes-nav {
  border-bottom: 5px solid var(--red);
}
.call911 {
  background-color: var(--red);
}
.call911 a:hover {
  background-color: var(--redHover);
}
.capesNavLink a:hover {
  background-color: var(--gray);
}

/*-------------------------------------------
5. Jumbotron
-------------------------------------------*/
.capesJumbotron{
  background: url("../src/assets/img/background-image-home.jpg") no-repeat center center; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.heroesJumbotron{
  background: url("../src/assets/img/background-avengers.jpg") no-repeat center center; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

/*-------------------------------------------
6. Buttons
-------------------------------------------*/
a {
  text-decoration: none !important;
}
.capes-btn {
  border-radius: 25px !important;
}
.capes-btn-danger {
  background-color: var(--red) !important;
  border:0;
  color: var(--white) !important;
}
.capes-btn-danger a {
  text-decoration: none !important;
}
.capes-btn-danger :hover {
  background-color: var(--gray) !important;
  color: var(--white) !important;
  text-decoration: underline;
}