/*----------------------------------------------------------------------------------------------------------------------
[Table of contents]
1. Root Elements & Measurements
2. Global Elements
3. Logo
4. Navbar
5. Jumbotron
6. Buttons
7. Cards
8. Footer
9. Star Rating

----------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------
1. Root Elements & Measurements
-------------------------------------------*/
:root {
  --red: #910012;
  --redHover: #a61527;
  --white: #ffffff;
  --gray: #555555;
  --lightGray:rgba(255,255,255,.55);
  --blue: #016FA0;
  --green: #95F204;
}
.redText {
  color: var(--red);
}
.redBackground {
  background-color: var(--red);
}
.blueBackground {
  background-color: var(--blue);
}
.blueText {
  color:var(--blue) !important;
}
.mt-100 {
  margin-top:100px;
}
.mt-50 {
  margin-top:50px;
}

/*-------------------------------------------
2. Global Elements
-------------------------------------------*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
.capesCard {
  border: 0 !important;
}
.summonsRow {
  border-bottom: 2px solid #dedede;
  padding-bottom: 20px;
  padding-top: 20px;
}
/*-------------------------------------------
3. Logo
-------------------------------------------*/
.logoWhite {
  height:60px;
}

/*-------------------------------------------
4. Navbar
-------------------------------------------*/
.capes-nav {
  border-bottom: 5px solid var(--red);
}
.call911 {
  background-color: var(--red);
}
.call911 a:hover {
  background-color: var(--redHover);
}
.capesNavLink a:hover {
  background-color: var(--gray);
}

/*-------------------------------------------
5. Jumbotron
-------------------------------------------*/
.capesJumbotron{
  background: url("../src/assets/img/background-image-home.jpg") no-repeat center center; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.heroesJumbotron{
  background: url("../src/assets/img/background-avengers.jpg") no-repeat center center; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.userName {
  font-style: italic;
  font-weight: lighter;
}

/*-------------------------------------------
6. Buttons
-------------------------------------------*/
a {
  text-decoration: none !important;
}
.capes-btn {
  border-radius: 25px !important;
}
.capes-btn-danger {
  background-color: var(--red) !important;
  border:0;
  color: var(--white) !important;
}
.capes-btn-danger a {
  text-decoration: none !important;
}
.capes-btn-danger :hover {
  background-color: var(--gray) !important;
  color: var(--white) !important;
  text-decoration: underline;
}
.green-btn {
  background-color: var(--green) !important;
  cursor: pointer;
}
.grayLink {
  color: var(--lightGray);
}

/*-------------------------------------------
7. Cards
-------------------------------------------*/
.service-card-body {
  height: 200px !important;
}

/*-------------------------------------------
8. Footer
-------------------------------------------*/
.capes-footer {
  border-top: 5px solid var(--red);
}

/*-------------------------------------------
9. Star Rating
-------------------------------------------*/
.star {
  cursor: pointer;
  transition: color 200ms;
}
input[type="radio"]{
  display: none;
}